<h2>Bonjour <%= sellRequest.customer.prenom %>,</h2>
<p>Votre rachat n° <%= sellRequest.id %> a été traité !</p>
<p>
  Vous pouvez dès à présent vous connecter sur votre espace client pour vérifier
  l'offre de rachat.
</p>
<p>
  Vous pouvez dès à présent la vérifier sur <%=
  process.env.REACT_APP_USER_FRIENDLY_URL %>.
</p>

<p>
  Si l'offre vous convient, vous pouvez signer le document en pièce jointe et
  nous l'envoyer afin de valider la transaction.
</p>

<p>
  Retrouvez toutes les informations sur
  <a href="<%=process.env.REACT_APP_PUBLIC_URL %>">le site</a>.
</p>

<p>Merci,</p>
<p><%= user.shop.legalName %></p>
